.git
.gitignore
.DS_Store

**/bin/
**/obj/
**/node_modules/
**/.cache/
**/.next/
**/coverage/
**/dist/
**/build/

**/.env
**/.env.*
!**/.env.example

deploy/
docker-compose*.yml
docker-compose*.yaml
README.md
